In [36]:
import pandas as pd
from sklearn import tree

In [37]:
df = pd.read_csv('gender_dataset.csv')

In [38]:
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      77         45    male
2     160      98         42  female
3     154      67         35    male
4     166      89         36  female
5     190      83         44  female
6     175      79         39    male
7     155      66         43  female
8     186      92         44    male

In [39]:
x = df.iloc[:,: -1]

In [40]:
x

   height  weight  shoe size
0     181      80         44
1     177      77         45
2     160      98         42
3     154      67         35
4     166      89         36
5     190      83         44
6     175      79         39
7     155      66         43
8     186      92         44

In [41]:
y = df.iloc[:,3]

In [42]:
y

0      male
1      male
2    female
3      male
4    female
5    female
6      male
7    female
8      male
Name: gender, dtype: object

In [43]:
classify_ = tree.DecisionTreeClassifier()

In [44]:
classify_.fit(x,y)

DecisionTreeClassifier()

In [47]:
prediction = classify_.predict([[200,100,54]])

In [48]:
prediction

array(['female'], dtype=object)